.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}

.app__form {
  padding: 10px;
  position: fixed;
  bottom: -15px;
  z-index: 100;
  width: 100%;
  background-color: #e9e9eb;
  margin: 20px !important;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
